img {
    vertical-align: top
}

.ml10 {
    margin-left: 10px
}

.mt10 {
    margin-top: 10px
}

.clr-999 {
    color: #999
}

.ml7 {
    margin-left: 7px
}

.fw-b {
    font-weight: bold
}


/* banner */

.main-area {
    /* padding-top: 10px */
    padding-top: 5px;
}

.banner {
    float: left;
    /* margin-left: 200px; */
    margin-left: 195px;
    /* padding-left: 10px */
    padding-left: 5px;
}

.main-slider {
    position: relative;
    /* width: 740px; */
    width: 735px;
    height: 470px;
}

.main-slider .hd {
    position: absolute;
    /* right: 6px; */
    bottom: 10px;
    z-index: 10;
    font-size: 0;
    text-align: center;
    width: 100%;
}

.main-slider .hd li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    border-radius: 50%;
    /* background: rgba(0, 0, 0, .8); */
    background: #1573b3;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.main-slider .hd li.on {
    background: rgba(190, 10, 0, .8)
}

.info-side {
    float: right;
    /* width: 240px */
    width: 255px;
}

.is-user {
    position: relative;
    height: 175px;
    border: 1px solid #eee;
    border-color: #1573b3;
    margin-top: 3px;
}

.is-user .ft {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 218px;
    padding: 20px 10px;
    border-top: 1px dotted #ccc
}

.is-user .ft a {
    color: #666
}

.is-user .ft a:hover {
    color: #bf0a01;
}

.is-user .link1 {
    float: left
}

.is-user .link2 {
    float: right
}

.is-user .ft i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(../images/m-icon.png) no-repeat -50px -100px;
    vertical-align: middle
}

.is-user .ft .link2 i {
    background-position: -100px -100px
}

.is-user .login .middle .link1 {
    float: left;
}

.is-user .login .middle .link2 {
    float: right;
}

.is-user .login .middle {
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    width: 180px;
    left: 30px;
    top: 95px;
}

.is-user .middle i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(../images/m-icon.png) no-repeat -50px -100px;
    vertical-align: middle
}


/* 未登录 */

.no-login {
    color: #666
}

.no-login .top {
    padding: 25px 17px
}

.no-login i {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background: url(../images/m-icon.png) -250px 0 no-repeat
}

.no-login p {
    font-size: 14px;
    color: #1573b3;
    line-height: 28px;
}
.no-login .clr-999 {
    color: #aaa;
}

.no-login .bottom {
    /* padding: 0 13px; */
    font-size: 0;
    text-align: center;
}

.l-btn {
    display: inline-block;
    width: 102px;
    height: 36px;
    border-radius: 2px;
    /* background: #be0a00; */
    background: #1573b3;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    -moz-border-radius: 2px;
    webkit-border-radius: 2px
}

.l-btn:hover {
    background: #cb3b33;
    color: #fff
}


/* 已登录 */

.login {
    position: relative
}

.login .bg-avatar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 238px;
    height: 90px;
    background: url(../images/bg-avatar.png) no-repeat
}

.login .avatar {
    position: absolute;
    top: 23px;
    left: 17px;
    z-index: 5
}

.login .txt {
    position: absolute;
    top: 35px;
    left: 85px;
    z-index: 15;
    width: 143px
}

.login .txt p a {
    font-weight: bold
}

.login .txt p a:hover {
    color: #bf0a01;
}

.login .txt .name {
    font-size: 14px
}

.login .txt .xy {
    padding-top: 18px;
    color: #999
}

.login .txt .xy span,
.login .txt .xy img {
    float: left;
    margin-right: 5px
}

.login .txt .xy .r-btn {
    float: right;
    color: #5d8ccf
}

.login .txt .xy .r-btn:hover {
    text-decoration: underline;
}

.login .bottom {
    padding: 120px 10px 0
}

.login .bottom li {
    float: left;
    width: 72px;
    padding-top: 5px;
    border-right: 1px solid #eee;
    line-height: 24px;
    text-align: center
}

.login .bottom li.last {
    border: 0
}

.login .bottom li a {
    color: #666
}

.login .bottom li a:hover {
    color: #bf0a01
}

.login .bottom li span {
    font-size: 24px;
    color: #be0a00
}

.is-news {
    position: relative;
    /* height: 213px; */
    height: 288px;
    /* margin-top: 10px; */
    border: 1px solid #eee;
    border-color: #1573b3;
}
.is-news .news-wrap {
    
}

.is-news .news-type {
    display: inline-block;
    
}
.is-news .news-tabs {
    width: 253px;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.is-news .news-tabs .news-tab {
    font-size: 18px;
    width: 126px;
    text-align: center;
    display: inline-block;
    background: #1573b3;
    color: #fff;
    position: absolute;
    cursor: pointer;
}
.is-news .news-tabs .news-tab.zixun {
    left: 0;
}
.is-news .news-tabs .news-tab.gonggao {
    right: 0;
}
.is-news .news-tabs .news-tab.on {
    background: #fff;
    color: #1573b3;
}
.is-news .news-panels {
    padding-top: 9px;
    width: 253px;
    height: 230px;
    position: absolute;
    top: 50px;
    left: 0;
}
.is-news .news-panels .news-panel {
    width: 100%;
    height: 100%;
    display: none;
}
.is-news .news-panels .news-panel.on {
    display: block;
}
.is-news .message {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.is-news .message li {
    display: block;
    height: 35px;
    line-height: 35px;
    width: 100%;
}
.is-news .message .message-word {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.is-news .message .message-body {
    width: 196px;
    padding: 0 5px;
}
.is-news .message .message-time {
    width: 40px;
}
.is-news .message-more {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
}
.is-news .message-more a {
    color: #888;
    font-size: 13px;
}
.is-news dt {
    padding: 9px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-weight: bold;
    color: #666
}

.is-news dd {
    padding: 15px 9px 0
}

.is-news dd.first {
    padding: 12px 9px 0
}

.is-news dd a {
    color: #666
}

.is-news a:hover {
    /* text-decoration: underline */
    color: #1573b3;
}

.is-news dd a.hot {
    color: #be0a00
}

.is-news .more {
    position: absolute;
    top: 9px;
    right: 9px;
    color: #005ea7
}


/* 商城精选 */

.showcase {
    /* margin-top: 10px */
}

.showcase .hd {
    height: 30px;
    border-bottom: 2px solid #333;
    line-height: 40px;
    font-size: 18px;
    font-family: \5FAE\8F6F\96C5\9ED1
}

.showcase .bd {
    overflow: hidden;
    padding-top: 10px
}

.showcase li {
    float: left
}

.showcase .item {
    position: relative;
    background: url(../images/bg-showcase.png) no-repeat
}

.showcase .item1 {
    width: 380px;
    height: 450px
}

.showcase .item2 {
    float: left;
    width: 300px;
    height: 210px;
    background-position: -400px -250px
}

.showcase .item3 {
    clear: both;
    width: 610px;
    height: 230px;
    background-position: -400px 0
}

.showcase .item4 {
    width: 190px;
    height: 100px;
    background-position: 0 -500px
}

.showcase .item5 {
    width: 190px;
    height: 230px;
    background-position: -750px -250px
}

.showcase .item img {
    position: absolute;
    top: 0;
    left: 0
}

.showcase .aside {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10
}

.showcase .item1 .aside {
    top: 60px;
    left: 20px
}

.showcase .item2 .aside {
    top: 20px;
    left: 20px
}

.showcase .item3 .aside {
    top: 20px;
    left: 20px
}

.showcase .aside a {
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color: #000
}

.showcase .aside p {
    margin-top: 3px
}

.showcase .aside .num {
    font-size: 20px;
    color: #be0a00
}

.showcase .aside .bg {
    display: inline-block;
    margin-top: 3px;
    padding: 5px 7px;
    background: #d42b23;
    font-size: 13px;
    color: #fff
}


/* 楼层 公用 */

.floor-item {
    margin-top: 20px
}

.floor-item .hd {
    position: relative;
    /* height: 40px; */
    height: 45px;
    border-bottom: 2px solid #6b78d8;
    /* line-height: 40px */
    line-height: 45px;
}

.floor-item .hd h2 {
    font-size: 18px;
    font-weight: normal;
    font-family: \5FAE\8F6F\96C5\9ED1
}

.floor-item .hd i {
    display: inline-block;
    width: 49px;
    height: 31px;
    margin: 0 8px 5px 0;
    background: url(../images/m-icon.png) no-repeat 0 -150px;
    vertical-align: bottom
}

.floor-item .hd .floor-nav {
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 20px;
    font-size: 0;
    line-height: 20px;
    text-align: right
}

.floor-nav a:hover {
    text-decoration: underline
}

.floor-nav-list {
    display: inline-block;
    *display: inline;
    margin-right: 30px;
    font-size: 0
}

.floor-nav-list li {
    display: inline-block;
    *display: inline;
    height: 14px;
    padding: 0 8px;
    border-left: 1px solid #ddd;
    font-size: 12px;
    line-height: 14px
}

.floor-nav-list li a {
    color: #666
}

.floor-nav-list li.first {
    border: 0
}

.floor-item .floor-entrance {
    display: inline-block;
    width: 74px;
    background: #6d79db;
    font-size: 12px;
    color: #fff;
    text-align: center
}

.floor-item .floor-entrance:hover {
    color: #fff
}

.floor-item .bd {}

.floor-item .bd a:hover {
    color: #6a79d8;
}

.f-item-l,
.f-item-c,
.f-item-r {
    float: left
}
.poster-right .f-item-l {
    float: right;
    margin: 10px 0 0 10px;
}
.f-item-l {
    /* width: 229px; */
    width: 275px;
    /* height: 570px; */
    height: 390px;
    margin: 10px 10px 0 0;
    margin-right: 20px;
    border: 1px solid #eee;
    background: #f5f5f5;
    position: relative;
}

.f-item-l .img {
    /* position: relative */
    position: absolute;
    width: 100%;
    height: 100%;
}

.f-item-l .img img {
    width: 100%;
    height: 100%;
}

.f-item-l .img .btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    background: rgba(40, 51, 177, .6);
    line-height: 34px;
    color: #fff;
    text-align: center
}

.f-item-l .link {
    overflow: hidden;
    padding: 10px;
    height: 211px;
}

.f-item-l .link li {
    overflow: hidden;
    float: left;
    width: 69px;
    margin: 7px 0;
    white-space: nowrap;
    text-overflow: ellipsis
}

.f-item-c {
    /* width: 684px */
    width: 900px;
    height: 392px;
    margin-top: 10px;
}

.f-item-c li {
    float: left;
    /* height: 280px; */
    width: 300px;
    /* margin: 10px 10px 0 0; */
    position: relative;
    z-index: 1
}

.f-item-c li .item-fold {
    /* width: 216px;
    height: 280px; */
    width: 302px;
    height: 196.5px;
    background: #fff;
    /* border: 1px solid #eee; */
    overflow: hidden;
    position: relative;
}

.f-item-c li:hover {
    z-index: 2;
}

.f-item-c li .item-fold:hover {
    /* height: auto;
    border: 1px solid #d9d9d9; */
    box-shadow: 0px 0px 10px #EAEAEA;
    -moz-box-shadow: 0px 0px 10px #EAEAEA;
    -webkit-box-shadow: 0px 0px 10px #EAEAEA;
}

.f-item-c li .pic {
    /* border-bottom: 1px dotted #ccc */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.f-item-c li .txt {
    display: none;
    position: absolute;
    font-size: 16px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    line-height: 23px;
    background: rgba(255, 255, 255, 0.5);

}
.f-item-c li .item-fold:hover .txt {
    display: block;
}

.f-item-c li .txt p {
    color: #999
}

.f-item-c li .txt .tt {
    overflow: hidden;
    position: relative;
    padding-right: 35px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis
}

.f-item-c li .txt .tt i {
    display: none
}

.f-item-c li .txt .hot i {
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    width: 31px;
    height: 11px;
    background: url(../images/m-icon.png) no-repeat -200px -100px
}

.f-item-c li .txt .num {
    font-family: Verdana;
    color: #be0a00
}

.f-item-c li .txt .location i {
    display: inline-block;
    width: 13px;
    height: 16px;
    margin-right: 5px;
    background: url(../images/m-icon.png) no-repeat -150px -100px;
    vertical-align: middle
}


/* 排行榜 */

.f-item-r {
    width: 275px;
    margin-top: 10px
}

.f-item-r .rank {
    height: 570px;
    margin-bottom: 10px;
    border: 1px solid #eee
}

.rank-hd {
    height: 35px;
    border-bottom: 1px solid #f0f0f0
}

.rank-hd span {
    display: inline-block;
    *float: left;
    padding: 10px 0 0 10px;
    font-weight: bold;
    font-size: 15px;
    color: #6d79db
}

.rank-hd ul {
    float: right;
    margin: 4px 0 0;
    font-size: 0
}

.rank-hd li {
    display: inline-block;
    *float: left;
    width: 96px;
    height: 30px;
    margin-right: 4px;
    border: 1px solid #eee;
    background: #eee;
    font-size: 12px;
    line-height: 30px;
    color: #666;
    text-align: center;
    cursor: pointer
}

.rank-hd li.hover {
    border-bottom: 1px solid #fff;
    background: #fff;
    font-weight: bold
}

.rank-bd {
    padding: 2px 0
}

.rank-bd li {
    padding: 20px;
    border-bottom: 1px dotted #ccc
}

.rank-bd li.last {
    border: 0
}

.rank-bd li .img {
    float: left;
    margin-right: 12px
}

.rank-bd li .txt {
    overflow: hidden;
    line-height: 21px;
    color: #999
}

.rank-bd li .txt p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.rank-bd li .txt p a {
    color: #999
}


/* 2F */

.floor-item2 .hd {
    border-bottom: 2px solid #5ab6df
}

.floor-item2 .hd i {
    background-position: -90px -150px
}

.floor-item2 .floor-entrance {
    background: #5ab6df
}

.floor-item2 .f-item-l .img .btn {
    background: rgba(90, 182, 221, .6)
}

.floor-item2 .rank-hd span {
    color: #5ab6dd
}

.floor-item2 .bd a:hover {
    color: #5ab6dd;
}


/* 3F */

.floor-item3 .hd {
    border-bottom: 2px solid #3292e8
}

.floor-item3 .hd i {
    background-position: -200px -150px
}

.floor-item3 .floor-entrance {
    background: #3292e8
}

.floor-item3 .f-item-l .img .btn {
    background: rgba(50, 146, 232, .6)
}

.floor-item3 .rank-hd span {
    color: #3292e8
}

.floor-item3 .bd a:hover {
    color: #3292e8;
}


/* 4F */

.floor-item4 .hd {
    border-bottom: 2px solid #ef717c
}

.floor-item4 .hd i {
    background-position: 0 -200px
}

.floor-item4 .floor-entrance {
    background: #ef717c
}

.floor-item4 .f-item-l .img .btn {
    background: rgba(239, 113, 124, .6)
}

.floor-item4 .rank-hd span {
    color: #ef717c
}

.floor-item4 .bd a:hover {
    color: #ef717c;
}


/* 5F */

.floor-item5 .hd {
    border-bottom: 2px solid #fa557f
}

.floor-item5 .hd i {
    background-position: -90px -200px
}

.floor-item5 .floor-entrance {
    background: #fa557f
}

.floor-item5 .f-item-l .img .btn {
    background: rgba(250, 85, 127, .6)
}

.floor-item5 .rank-hd span {
    color: #fa557f
}

.floor-item5 .bd a:hover {
    color: #fa557f;
}


/* 6F */

.floor-item6 .hd {
    border-bottom: 2px solid #695fa4
}

.floor-item6 .hd i {
    background-position: -200px -200px
}

.floor-item6 .floor-entrance {
    background: #695fa4
}

.floor-item6 .f-item-l .img .btn {
    background: rgba(105, 95, 164, .6)
}

.floor-item6 .rank-hd span {
    color: #695fa4
}

.floor-item6 .bd a:hover {
    color: #695fa4;
}


/* 右侧导航条 */

.hide {
    display: none
}

#backpanel-floor .backpanel-inner {
    margin-bottom: 90px
}

.backpanel {
    position: relative;
    z-index: 1000
}

.backpanel .backpanel-inner {
    position: fixed;
    /* left: 50%; */
    right: 50%;
    bottom: 0;
    z-index: 1001;
    /* margin-left: 610px; */
    margin-right: 610px;
    padding-bottom: 10px
}

.backpanel .backpanel-iframe {
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 1000;
    margin-left: 610px;
    background: #fff;
    filter: alpha(opacity=0);
    opacity: 0
}

.root61 .backpanel .backpanel-iframe {
    margin-left: 605px
}

.root61 .backpanel .backpanel-inner {
    margin-left: 605px
}

* html .backpanel .backpanel-inner,
* html .backpanel .backpanel-iframe {
    position: absolute;
    top: expression(eval(document.documentElement .scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
    bottom: auto
}

.backpanel .bp-item {
    position: relative;
    width: 38px;
    height: 38px;
    margin-top: 5px;
    background: #e3e3e3
}

.backpanel .bp-item a {
    display: block;
    overflow: hidden;
    height: 33px;
    padding: 5px 0 0 7px;
    line-height: 1000px;
    color: #fff
}

.bp-item a:hover,
.bp-item a:visited {
    text-decoration: none
}

.bp-item .survey {
    background: url(../images/m-icon.png) no-repeat 0 -250px
}

.bp-item .backtop {
    background: url(../images/m-icon.png) no-repeat -50px -250px
}

.backpanel .bp-item span {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #dedede;
    line-height: 38px;
    color: #b9b9b9;
    text-align: center
}

.backpanel .bp-item-floor-links a {
    height: 31px;
    border: 1px solid #dedede;
    background: #f7f7f7
}

.backpanel .bp-item-floor-links:hover a,
.backpanel .bp-item-floor-links.curr a {
    border: 1px solid #be0a00;
    background: #fff5f0;
    line-height: 14px;
    color: #be0a00
}

.backpanel .bp-item-floor-links:hover span,
.backpanel .bp-item-floor-links.curr span {
    display: none
}

.backpanel .bp-item-survey span,
.backpanel .bp-item-backtop span {
    display: none
}

.backpanel .bp-item a.survey:hover,
.backpanel .bp-item a.backtop:hover {
    background: #aaa;
    line-height: 14px;
    color: #fff
}


/* 商品分类页面 */

.z-category {
    border: 1px solid #eee;
    border-top: 0;
}

.z-category .tt {
    padding: 30px 0 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.z-category .tab {
    overflow: hidden;
    padding-left: 90px
}

.z-category .tab li {
    float: left;
    min-width: 88px;
    margin: 15px 20px 0 0;
    height: 36px;
    line-height: 19px;
    padding: 6px 10px;
    border: 1px solid #eee;
    text-align: center;
    background: #F5F5F5;
    background-image: -moz-linear-gradient(top, #fff, #f0f0f0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
}

.z-category .tab li.l1 {
    line-height: 36px;
}

.z-category .tab li a {
    color: #005aa0;
    font-size: 14px;
}

.z-category .tab li a:hover {
    text-decoration: underline;
}

.z-category .bd {
    padding: 40px;
    overflow: hidden;
}

.z-category .m {
    width: 537px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.z-category .m a:hover {
    color: #e94544;
    text-decoration: underline;
}

.z-category .mt {
    height: 30px;
    border-bottom: 1px solid #eee;
    line-height: 30px;
    background: #f2f2f2;
    padding: 0 5px 0 10px;
}

.z-category .mc {
    padding: 0 5px;
}

.z-category .mc .fore {
    border-top: 0;
}

.z-category dl {
    width: 517px;
    padding: 5px;
    border-top: 1px dotted #CCC;
    overflow: hidden;
    line-height: 24px;
}

.z-category dt {
    float: left;
    width: 55px;
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
    color: #e94544;
}

.z-category dt a {
    color: #CC0000;
}

.z-category dd {
    float: left;
    width: 395px;
}

.z-category dd em {
    float: left;
    font-weight: normal;
}

.z-category dd a {
    white-space: nowrap;
    margin-right: 16px;
}


/* 选择地区 */

.popup-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.area-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 2010;
}

.area-choose {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -157px 0 0 -300px;
    border: 1px solid #E3DFE3;
    border-bottom: 0;
    background: #fff;
    width: 600px;
    z-index: 2020
}

.area-choose-title {
    color: #666;
    font-weight: 700;
    background: #F5F3F5;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E3DFE3;
    padding-left: 16px;
}

.area-choose dl {
    border-bottom: 1px solid #E3DFE3;
    overflow: hidden;
    zoom: 1;
}

.area-choose dl dt {
    float: left;
    width: 88px;
    height: 38px;
    line-height: 38px;
    float: left;
    background: #F5ECEF;
    color: #333;
    font-size: 14px;
    border-right: 1px solid #E3DFE3;
    text-align: center;
}

.area-choose dl dd {
    float: left;
    background: #FBF9FC;
    width: 511px;
    overflow: hidden;
}

.area-choose dl dd a {
    float: left;
    height: 16px;
    padding: 5px 8px;
    margin: 6px;
    line-height: 16px;
    color: #666;
    font-size: 14px;
}

.area-choose dl dd a:hover {
    background: #bf0a01;
    color: #fff;
}


/*商品分类*/

.x-category-tab {
    background: #f2f2f2;
    border: #eee 1px solid;
    height: 36px;
    position: relative;
}

.x-category-tab li {
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding: 0 25px;
    cursor: pointer;
}

.x-category-tab li.hover {
    background: #fff;
    height: 36px;
    line-height: 36px;
    border-top: #BE0A00 2px solid;
}

.banks table td {
    border: #eee 1px solid;
    background: #fff;
    text-align: center;
    padding: 10px 20px;
    width: 16.7%
}

.banks .brand-name {
    line-height: 30px;
}

.banks .brand-img {
    width: 100%;
}

.banks .brand-img img {
    width: 90px;
    height: 45px;
}

.banks table {
    width: 100%;
}

.z-category .tab li.current {
    background: #BE0A00;
    line-height: 36px
}

.z-category .tab li.current a {
    color: #fff;
}