body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:94px;
  width:1045px;
  height:1736px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:1736px;
}
#u1 {
  position:absolute;
  left:2px;
  top:860px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:480px;
  top:112px;
  width:170px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:150px;
  width:1045px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:166px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:200px;
  width:1045px;
  height:56px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:56px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:218px;
  width:80px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:146px;
  top:215px;
  width:684px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:70px;
  top:256px;
  width:1045px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:272px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:70px;
  top:306px;
  width:1045px;
  height:234px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:234px;
}
#u18 {
  position:absolute;
  left:2px;
  top:109px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:84px;
  top:324px;
  width:126px;
  height:19px;
  font-size:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:234px;
  top:324px;
  width:126px;
  height:19px;
  font-size:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:84px;
  top:360px;
  width:1016px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:1012px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:102px;
  top:376px;
  width:108px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:250px;
  top:376px;
  width:108px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:397px;
  top:376px;
  width:108px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:545px;
  top:376px;
  width:108px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:693px;
  top:376px;
  width:108px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:840px;
  top:376px;
  width:130px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:84px;
  top:410px;
  width:1016px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:1012px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:110px;
  top:422px;
  width:120px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40 {
  position:absolute;
  left:420px;
  top:422px;
  width:80px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:250px;
  top:422px;
  width:120px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42 {
  position:absolute;
  left:559px;
  top:422px;
  width:80px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43 {
  position:absolute;
  left:690px;
  top:422px;
  width:120px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44 {
  position:absolute;
  left:865px;
  top:422px;
  width:80px;
  height:25px;
  font-size:16px;
  color:#CC0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:84px;
  top:470px;
  width:110px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0000FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:70px;
  top:540px;
  width:1045px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:70px;
  top:556px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:70px;
  top:590px;
  width:1045px;
  height:730px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:730px;
}
#u53 {
  position:absolute;
  left:2px;
  top:357px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:70px;
  top:1320px;
  width:1045px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:1336px;
  width:180px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:70px;
  top:1370px;
  width:1045px;
  height:340px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:340px;
}
#u59 {
  position:absolute;
  left:2px;
  top:162px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:84px;
  top:1390px;
  width:676px;
  height:273px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:273px;
}
#u61 {
  position:absolute;
  left:2px;
  top:128px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:350px;
  top:1750px;
  width:110px;
  height:40px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:640px;
  top:1750px;
  width:110px;
  height:40px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:126px;
  top:600px;
  width:932px;
  height:697px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:697px;
}
#u67 {
  position:absolute;
  left:2px;
  top:340px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1030px;
  top:419px;
  width:29px;
  height:31px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u69 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1000px;
  top:376px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:70px;
  width:1360px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:1343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1360px;
  height:3px;
}
#u73 {
  position:absolute;
  left:400px;
  top:30px;
  width:430px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:24px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
