body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:700px;
  width:270px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
