body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:782px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1261px;
  top:917px;
  width:190px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:186px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1040px;
  top:910px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
